@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
  font-weight: normal;
}

.no-border {
   border: none;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.center.aligned {
  text-align: center !important;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1) !important;
  transition: 0.4s;
  padding: 3px;
}

.text-underline {
  text-decoration: underline;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 768px) {
  .fat-only {
    display: none !important;
  }
  .ui.segment {
    padding-left: .6rem !important;
    padding-right: .6rem !important;
  }
  .ui.menu .item {
    padding: 0.62rem !important;
  }
}

.small-spacer {
  height: 3rem;
}

a, button {
  cursor: pointer;
}

.filler {
  flex: 1;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}


.highlight {
  background-color: yellow !important;
  font-weight: bold;
}

.round.image {
  border-radius: 50%;
}

p, .ui.list .item, li {
  font-size: 16px;
}

.padded {
  padding: 1rem !important;
}

.no-margin {
  margin: 0 !important;
}

.fluid {
  width: 100%;
}

@media (min-width: 769px) {
  .left-bordered {
    border-left: 1px solid #ccc;
  }

  .right-bordered {
    border-right: 1px solid #ccc;
  }
}